<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.edu.utng.appfirebaseu4">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AppFirebaseU4"
        android:allowBackup="true"
        android:icon="@drawable/libro"
        android:label="@string/Libros"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppFirebaseU4">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>